/* VARIABLES */

:root {
  /* COLORS */

  /* PRIMARY */

  --clr-pink-400: 322 100% 66%;
  --clr-pink-300: 321 100% 78%;
  --clr-red-400: 0 100% 63%;

  /* NEUTRAL */

  --clr-cyan-900: 192 100% 9%;
  --clr-blue-50: 207 100% 98%;

  /* FONTS */

  --ff-poppins: 'Poppins', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* RESET */

/* https://andy-bell.co.uk/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILS */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* BASE */

body {
  font-family: var(--ff-open-sans);
  text-align: center;
  color: hsl(var(--clr-cyan-900));
}

.container {
  width: 100%;
  max-width: 81.125em;
  padding-inline: 1.5em;
  margin-inline: auto;
}

/* HEADER */

.header {
  margin-top: 1.31em;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-wrapper {
  max-width: 6em;
}

.header__cta {
  font-size: 0.625rem;
  text-transform: capitalize;
  color: hsl(var(--clr-pink-400));
  padding: 0.5em 1.7em;
  border: 1px solid;
  border-radius: 5em;
  outline: transparent;
  transition: color 0.15s ease-in-out;
}

.header__cta:where(:hover, :focus-visible) {
  color: hsl(var(--clr-pink-300));
}

/* MAIN */

.main {
  margin-top: 7.188em;
}

/* HERO SECTION */

.hero {
  margin-bottom: 7.25em;
}

.hero__title {
  font: var(--fw-bold) 1.5rem var(--ff-poppins);
  text-transform: capitalize;
}

.hero__desc {
  max-width: 40em;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 1.375em auto 3.43em;
}

.hero__cta {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  padding: 1em 3.3em;
  background-color: hsl(var(--clr-pink-400));
  color: hsl(var(--clr-blue-50));
  border-radius: 5em;
  box-shadow: 0 0.35em 0.35em hsl(var(--clr-cyan-900) / 0.15);
  outline: transparent;
  transition: background-color 0.15s ease-in-out;
}

.hero__cta:where(:hover, :focus-visible) {
  background-color: hsl(var(--clr-pink-300));
}

.hero__img-wrapper {
  max-width: 18.875em;
  margin: 6.3em auto 7.6em;
}

.hero__stats-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6em;
}

.hero__stats-icon-wrapper {
  max-width: 1.875em;
}

.hero__stats-info {
  font-size: 0.94rem;
  text-transform: capitalize;
  color: hsl(var(--clr-cyan-900) / 0.6);
}

.hero__stats-info strong {
  display: block;
  font-size: 3.75rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.133em;
  color: hsl(var(--clr-cyan-900));
}
